@use "../../../../styles/theme" as *;
@use "include-media" as *;

.container {
  position: relative;
  grid-area: maincontent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  background-image: url("/icons/logo/active.svg");
  background-position: 80% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  overflow: hidden;
  border-radius: $borderRadius;
  @include media("<tablet") {
    background-size: 100%;
    border-radius: unset;
  }
}

.miniContainer {
  border-radius: $borderRadius;
  border: 1px solid $backgroundLight;
  position: relative;
  height: 95%;
  width: 98%;
  background-color: rgba($color: $background, $alpha: 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  @include media("<tablet") {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: unset;
  }
}

.error {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  h3 {
    padding: 10px;
    color: white;
    text-align: center;
  }
}

.cover {
  width: fit-content;
  height: fit-content;
}
