@use "../../../../../styles/theme" as *;

.container {
  position: relative;
  grid-area: navigationside / navigationside / maincontent / maincontent;
  background-color: $background;
  width: 100%;
  height: 100%;
  background-image: url("/icons/logo/active.svg");
  background-position: 80% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
}

.miniContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $background, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  label {
    h3 {
      margin: 20px 0 20px 0;
      color: white;
    }
  }
}

.inputs {
  & > input {
    margin-right: 10px;
  }
  input {
    border: 1px solid black;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
  }
}

.inputContainer {
  display: inline-block;
  position: relative;
  height: fit-content;
  width: fit-content;
}

.eyeIcons {
  user-select: none;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 5px;
  top: 12.5%;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}

.eyeIcon {
  position: relative;
  width: 100%;
  height: 100%;
}

.buttons {
  display: flex;
  margin: 20px 0 20px 0;
  & > div {
    margin-right: 10px;
    padding: 20px;
  }
}

.errors {
  color: red;
  margin: 5px;
  p::before {
    content: "*";
    margin-right: 5px;
  }
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  h3 {
    color: white;
  }
}

.loaderActive {
  background-color: rgba($color: #000, $alpha: 0.9);
  opacity: 1;
  pointer-events: all;
}

.cover {
  width: fit-content;
  height: fit-content;
}

.error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
