@use "../../../../styles/theme" as *;
@use "include-media" as *;

.container {
  grid-area: navigationside / navigationside / maincontent / maincontent;
  background-color: $background;
  @include media("<tablet") {
    grid-area: maincontent / maincontent;
  }
}

.miniContainer {
  width: 100%;
  height: 100%;
  background-color: rgba($color: $background, $alpha: 0.5);
}
