@use "../../../../../../styles/theme" as *;
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parentModal {
  width: 40%;
  height: fit-content;
  background-color: white;
  outline: none;
  border-radius: $borderRadius;
  padding: 10px;
  h2,
  h3 {
    text-align: center;
  }
}

.error {
  color: red;
  text-align: center;
}

.publishStatus {
  display: flex;
  align-items: center;
  justify-content: center;
}

.publishStatusLoading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100px;
}

.publishStatusLoadingProgress {
  width: 20px !important;
  height: 20px !important;
  color: $activeColor !important;
}
