@use "../../../styles/theme" as *;
@use "include-media" as *;
.container {
  grid-area: maincontent;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.miniContainer {
  overflow: hidden;
  border: 1px solid $backgroundLight;
  height: 95%;
  width: 98%;
  background-color: $backgroundLight;
  border-radius: $borderRadius;
  @include media("<tablet") {
    width: 100%;
    height: 100%;
    border-radius: unset;
  }
}

.listParent {
  list-style: none;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-top: 20px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.listItem {
  width: 200px;
  height: 250px;
  background-color: $background;
  border-radius: $borderRadius;
  margin: 5px;
  margin-bottom: 10px;
  position: relative;

  & > div:nth-child(1) {
    position: relative;
    overflow: hidden;
    border-top-right-radius: $borderRadius;
    border-top-left-radius: $borderRadius;
    width: 100%;
    height: 40%;
  }

  & > div:nth-child(2) {
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid $backgroundLight;
    h3 {
      color: $textColor;
      margin: 0;
    }
  }

  & > div:nth-child(3) {
    position: relative;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid $backgroundLight;
    p {
      color: $textColor;
      margin: 0;
    }
  }

  & > div:nth-child(4) {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
