@use "../../../styles/theme" as *;
@use "include-media" as *;

.container {
  border-bottom: 1px solid $backgroundLight;
  grid-area: navigationtop;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & > ul {
    width: 100%;
    height: 100%;
  }

  & > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;

    & > li:nth-child(1) {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      @include media("<tablet") {
        display: none;
      }
      & > div {
        cursor: pointer;
        width: 50px;
        height: 50px;
      }
    }

    & > li:nth-child(2) {
      width: 300px;
      position: relative;
      color: $textColor;
      border-left: 1px solid $backgroundLight;
      border-right: 1px solid $backgroundLight;

      @include media("<tablet") {
        width: 180px;
        border-left: none;
      }

      [class~="swiper-slide"] {
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media("<tablet") {
          width: 60px;
          a {
            font-size: small;
          }
        }
      }
      [class~="swiper-wrapper"] {
        padding-left: 5px;
        display: flex;
        align-items: center;
      }
    }

    & > li:nth-child(3) {
      height: 100%;
      position: relative;
      display: flex;
    }
  }

  & > div:nth-child(2) {
    padding: 8px;
    color: $textColor;
    border: 1px solid $textColor;
    border-radius: $borderRadius;
    margin-right: 10px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
