@use "../../../../../../styles/theme" as *;
@use "include-media" as *;

.inputs {
  position: relative;
  width: fit-content;
  input {
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid black;
    outline: none;
  }
  @include media("<=tablet") {
    width: 240px;
  }
  & > input:nth-child(1) {
    @include media("<=tablet") {
      margin-bottom: 15px;
    }
  }
}

.buttons {
  display: flex;
  margin: 20px 0 20px 0;
  & > div {
    margin-right: 10px;
    padding: 20px;
  }
}

.errors {
  color: red;
  margin: 5px;
  p::before {
    content: "*";
    margin-right: 5px;
  }
}

.eyeIcons {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 15px;
  top: 15%;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
  @include media("<=tablet") {
    top: 65%;
    right: 5px;
  }
}

.eyeIcon {
  position: relative;
  width: 100%;
  height: 100%;
}
