@use "../../../../styles/theme" as *;
@use "include-media" as *;

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parentModal {
  background-color: white;
  margin: 0 auto;
  height: 30%;
  width: 35%;
  border-radius: $borderRadius;
  overflow: hidden;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  @include media("<desktop") {
    width: 85%;
  }
  & > h4 {
    text-align: center;
  }
}
