@use "../../../../../styles/theme" as *;
@use "include-media" as *;

.container {
  grid-area: search;
  background-color: $background;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media("<tablet") {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  & > div:nth-child(1) {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 5px;
    @include media("<tablet") {
      width: 70%;
    }
    & > input {
      border-radius: 10px;
      padding: 5px;
      margin-left: 5px;
      border: 1px solid black;
      outline: none;
      @include media("<tablet") {
        width: 100%;
        margin-left: 0px;
      }
    }
    & > div {
      margin-left: 5px;
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  & > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    height: 100%;
    padding: 5px;
    @include media("<tablet") {
      width: 70px;
    }
    & > div {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      @include media("<tablet") {
        width: 20px;
        height: 20px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
