@use "../../../../../styles/theme" as *;
@use "include-media" as *;

.brullah {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 100%;
  @include media("<tablet") {
    flex-direction: column;
    justify-content: space-between;
  }

  & > div:nth-child(1) {
    padding: 20px;
    width: 50%;
    height: 100%;
    @include media("<tablet") {
      flex-direction: column;
      width: 100%;
      padding: 0px 20px 0px 20px;
    }
    div {
      padding: 8px;
      border: 1px solid $backgroundLight;
      color: $textColor;
      border-radius: $borderRadius;
      width: fit-content;
      &:hover {
        cursor: pointer;
        color: $activeColor;
      }
    }
    h1,
    h2,
    h3 {
      margin-bottom: 50px;
      @include media("<tablet") {
        margin-bottom: 20px;
      }
    }
    h1 {
      color: white;
    }
    h2,
    h3 {
      color: $textColor;
    }
  }
  & > div:nth-child(2) {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    width: 50%;
    height: 100%;
    @include media("<tablet") {
      width: 100%;
      padding: 0px 0px 0px 0px;
    }
    & > div {
      height: 783px;
      width: 400px;
      position: relative;
      @include media("<tablet") {
        height: 548px;
        width: 280px;
      }
    }
  }
}
