@use "../../../../../styles/theme" as *;
$number-of-options: 5;

.title {
  label {
    h1 {
      margin: 20px 0 20px 0;
    }
  }
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.buttons {
  display: flex;
  margin: 20px 0 20px 0;
  & > div {
    margin-right: 10px;
    padding: 20px;
  }
}

.errors {
  color: red;
  margin: 5px;
  p::before {
    content: "*";
    margin-right: 5px;
  }
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  height: 30px;
  &::after {
    content: "<= Tick for yes";
    position: absolute;
    width: 200px;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 50%;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 5px;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  &:hover {
    span {
      background-color: #707070;
    }
  }

  & > input:checked {
    & ~ span {
      background-color: $activeColor;
      &:after {
        display: block;
      }
    }
  }
}

.brcInput {
  transition: opacity 0.5s;
  input {
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;
  }
  &[class~="disabled"] {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
  to {
    transform: rotate(360deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
}
