@use "../../../../../styles/theme" as *;
@use "include-media" as *;

.container {
  display: flex;
  align-items: center;
  width: 50%;
}

.miniContainer {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  background-color: transparent;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
}

.tooltip {
  font-family: inherit;
}

.sandwichIcon {
  position: absolute;
  pointer-events: none;
  display: none;
  @include media("<tablet") {
    position: relative;
    pointer-events: all;
    display: block;
  }
}

.hideSandwichIcon {
  position: absolute;
  pointer-events: none;
  display: none;
}

.homeIcon {
  @include media("<tablet") {
    position: absolute;
    pointer-events: none;
    display: none;
  }
}
