@use "../../../../../../styles/theme" as *;

.inputs {
  textarea {
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    height: 100px !important;
    width: 350px !important;
  }
}

.buttons {
  display: flex;
  margin: 20px 0 20px 0;
  & > div {
    margin-right: 10px;
    padding: 20px;
  }
}

.errors {
  color: red;
  margin: 5px;
  p::before {
    content: "*";
    margin-right: 5px;
  }
}
