@use "../../../../styles/theme" as *;

.editNavigation {
  grid-area: search;
}

.editContainer {
  grid-area: tournaments;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
}
