@use "../../../../styles/theme" as *;

.editNavigation {
  grid-area: search;
}

.editContainer {
  grid-area: tournaments;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.modalContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
