@use "../../../../../../styles/theme" as *;

.actualMullahTitle {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("/icons/mullah/inactive.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    top: 0px;
    left: -30px;
  }

  & + div {
    h4 {
      color: $moneyColor;
    }
  }
}

.brullahCoinsTitle {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("/icons/logo/active.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    top: 0px;
    left: -35px;
  }

  & + div {
    h4 {
      color: $moneyColor;
    }
  }
}
