@use "../../../../../../styles/theme" as *;
@use "include-media" as *;

.actualMullahTitle {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("/icons/mullah/inactive.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    top: 0px;
    left: -30px;
    @include media("<tablet") {
      width: 15px;
      height: 15px;
      left: -25px;
    }
  }

  & + div {
    h4 {
      color: $moneyColor;
      @include media("<tablet") {
        font-size: small;
      }
    }
  }

  @include media("<tablet") {
    font-size: small;
  }
}

.brullahCoinsTitle {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("/icons/logo/active.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    top: 0px;
    left: -35px;
    @include media("<tablet") {
      width: 25px;
      height: 25px;
      left: -30px;
    }
  }

  & + div {
    h4 {
      color: $moneyColor;
      @include media("<tablet") {
        font-size: small;
      }
    }
  }

  @include media("<tablet") {
    font-size: small;
  }
}
