@use "../../../../../../styles/theme" as *;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  & > h4 {
    color: white;
    margin: 0;
  }
  input {
    position: relative;
    padding: 8px;
    border-radius: 5px;
    margin-right: 10px;
    width: 120px;
    margin-left: 5px;
    border: 1px solid black;
    outline: none;
  }
}
