@use "../../../../../../styles/theme" as *;

.container {
  grid-area: search / search / tournaments / tournaments;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $borderRadius;
}

.miniContainer {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: $background, $alpha: 0.5);

  & > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 130px;
    background-color: $background;
    border-radius: 20px;
  }
}
