@use "../../../../../styles/theme" as *;

.profile {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  & > div:nth-child(1) {
    width: 120px;
    height: 120px;
    min-height: 120px;
    position: relative;
    border: 1px solid $backgroundLight;
    border-radius: 50%;
    overflow: hidden;
  }

  & > div:nth-child(2) {
    color: $textColor;
    h3 {
      margin: 0px;
    }
  }

  & > div:nth-child(3) {
    color: $textColor;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h3 {
      margin: 0px;
    }
    & > div {
      width: 30px;
      height: 30px;
      position: relative;
      margin-left: 5px;
      &:hover {
        cursor: pointer;
      }
      &[class~="copy"] {
        &::after {
          content: "copied";
          position: absolute;
          width: fit-content;
          height: fit-content;
          padding: 5px;
          background-color: $backgroundLight;
          border-radius: 5px;
          bottom: 105%;
          left: -100%;
          color: white;
        }
      }
    }
  }
}
