@use "../../../../styles/theme" as *;
@use "include-media" as *;

.navigationButtons {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include media("<tablet") {
    width: 100%;
    border-bottom: 1px solid $background;
    padding: 5px 0px 5px 0px;
  }
}

.actionButton {
  margin-right: 10px;
}

.countDown {
  margin-right: 10px;
  border-right: 2px solid $background;
  padding-right: 5px;
  @include media("<tablet") {
    margin: 0px;
    padding: 0px;
    border: none;
  }
  h4 {
    margin: 0px;
    text-align: center;
    @include media("<tablet") {
      font-size: small;
    }
  }
}

.navigation {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  padding: 10px 50px 10px 30px;
  @include media(">=tablet") {
    padding: 10px 25px 10px 25px;
  }
  @include media("<tablet") {
    padding: 0px 5px 0px 5px;
    flex-direction: column;
  }
}

.statesLoading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80px;
}

.statesLoadingProgress {
  width: 20px !important;
  height: 20px !important;
  color: $activeColor !important;
}

.cool {
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 0px;
    @include media("<tablet") {
      font-size: small;
    }
  }
}

.statusContainer {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media("<tablet") {
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid $background;
    width: 100%;
  }
}

.tooltip {
  background-color: $activeColor;
  font-family: inherit;
  h3 {
    margin: 5px;
    margin-left: 0px;
  }
}
