@use "../../../../styles/theme" as *;

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parentModal {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 80%;
  width: 80%;
  border-radius: $borderRadius;
  overflow: hidden;
}

.table {
  position: relative;
  height: 85%;
  overflow: hidden;
  border-radius: 0px;

  [class~="MuiTable-root"] {
    * {
      @include themeFont;
    }
  }

  [class~="MuiTableCell-root"] {
    line-height: normal;
    z-index: 0;
  }

  [class~="MuiTableContainer-root"] {
    border-radius: 0px;
  }

  [class~="MuiTableBody-root"] > [class~="MuiTableRow-root"]:nth-child(odd) * {
    background-color: #f5f5f5;
  }

  [class~="MuiTableBody-root"] > [class~="MuiTableRow-root"]:nth-child(even) * {
    background-color: white;
  }

  [class~="MuiTableRow-head"] * {
    background-color: black;
  }

  [class~="MuiTableCell-head"] {
    color: white;
    font-weight: bold;
    border-radius: 0px;
  }
}

.headingContainer {
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background;
  height: fit-content;
  border-radius: 0px;
  height: 15%;
}

.modalHeading {
  display: inline-block;
  color: $textColor;
  margin: 0px;
}

.loading {
  height: 100%;
  width: fit-content;
  position: relative;
}

.error {
  position: relative;
  color: red;
  &:before {
    content: "*";
    position: absolute;
    top: -2px;
    left: -10px;
  }
}
