@use "../../../../../styles/theme" as *;

.navigationButtons {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.actionButton {
  margin-right: 10px;
}

.countDown {
  margin-right: 10px;
  border-right: 2px solid $background;
  padding-right: 5px;
  h4 {
    margin: 0px;
    text-align: center;
  }
}

.navigation {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  padding: 10px 50px 10px 30px;
}

.statesLoading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80px;
}

.statesLoadingProgress {
  width: 20px !important;
  height: 20px !important;
  color: $activeColor !important;
}

.cool {
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 0px;
  }
}
