@use "../../../../styles/theme" as *;
@use "include-media" as *;

.container {
  grid-area: maincontent;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniContainer {
  border: 1px solid $backgroundLight;
  height: 95%;
  width: 98%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.11fr minmax(0, 1fr);
  grid-template-areas: "search" "tournaments";
  background-color: $backgroundLight;
  border-radius: $borderRadius;
  @include media("<tablet") {
    height: 100%;
    width: 100%;
    border: none;
  }
}
