@use "../../../../styles/theme" as *;
@use "include-media" as *;

.container {
  grid-area: maincontent;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniContainer {
  border: 1px solid $backgroundLight;
  height: 95%;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: $background, $alpha: 0.5);
  border-radius: $borderRadius;
  @include media("<tablet") {
    height: 100%;
    width: 100%;
    border-radius: unset;
    border: none;
  }

  & > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 130px;
    background-color: $background;
    border-radius: 20px;
  }
}
