@use "../../../../../styles/theme" as *;

.container {
  margin-top: 5px;
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $backgroundLight;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
  overflow: hidden;
  padding-right: 5px;

  & > div:nth-child(1) {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 100%;
  }

  & > div:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 38%;
    color: $textColor;
  }

  & > a {
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    color: $inactiveColor;
    text-align: center;
    &:hover {
      color: $activeColor;
    }
  }
}
