@use "../../../../../styles/theme" as *;
@use "include-media" as *;

.container {
  grid-area: tournaments;
  position: relative;
  height: 100%;
  width: 100%;

  ul {
    list-style: none;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 20px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.noTournaments {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > div:nth-child(1) {
    position: relative;
    width: 300px;
    height: 300px;
    @include media(">phone", "<=tablet") {
      width: 200px;
      height: 200px;
    }
  }

  & > div:nth-child(2) {
    position: relative;
    width: 70%;
    h3 {
      @include media(">phone", "<=tablet") {
        text-align: center;
      }
    }
  }
}
