@use "../../styles/theme" as *;

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.thinking {
  & > div {
    position: relative;
    display: block;
    margin-right: 5px;
    width: fit-content;
    & > div {
      display: inline-block;
      position: absolute;
      &:nth-child(1) {
        animation: dollaSignFlick 0.5s infinite;
      }
      &:nth-child(2) {
        animation: dollarSignFlick 0.5s 0.5s infinite;
      }
    }
  }
}

.text {
  display: flex;
  align-items: center;
  svg {
    width: 50%;
  }
  p {
    color: $moneyColor;
    width: 50px;
    &::after {
      content: "...";
      animation: loadingText 0.5s linear infinite;
    }
  }
}

@keyframes dollarSignFlick {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadingText {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
