@use "../../../../styles/theme" as *;
@use "include-media" as *;

.container {
  background-color: $backgroundLight;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  width: 45%;
  min-width: 490px;
  height: 100%;
  @include media(">phone", "<=tablet") {
    height: 260px;
    width: 100%;
    min-width: 100%;
  }
}

.miniContainer {
  position: relative;
  background-color: $background;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: $borderRadius;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  @include media(">phone", "<=tablet") {
    border-bottom-right-radius: 0px;
  }
}
