@use "../../../styles/theme" as *;
@use "include-media" as *;

.container {
  z-index: 5;
  position: relative;
  grid-area: navigationtop;
  background-color: $backgroundLight;
  display: flex;
  justify-content: space-between;
  @include media("<tablet") {
    border-bottom: 1px solid $background;
  }
}
