@use "../../../styles/theme" as *;

.container {
  grid-area: maincontent;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniContainer {
  border: 1px solid $backgroundLight;
  height: 95%;
  width: 98%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.11fr minmax(0, 1fr);
  grid-template-areas: "navbar" "brackets";
  background-color: $backgroundLight;
  border-radius: $borderRadius;
}

.tournamentContainer {
  grid-area: brackets;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  position: relative;
}
