@use "../../../../../../styles/theme" as *;
//
// VARIABLES
// ---------------------------
$breakpoint-xs: 24em;
$breakpoint-sm: 38em;
$breakpoint-md: 52em;
$breakpoint-lg: 72em;

.brackets {
  padding: 0px 10px 10px 10px;
  position: relative;
  height: fit-content;
}

.container {
  position: relative;
  width: 90%;
  min-width: 18em;
  margin: 20px auto;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

//
// TOURNAMENT BRACKET
// ---------------------------
.tournamentBracket {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-sm) {
    flex-direction: row;
  }
}

.tournamentBracketRound {
  display: block;
  margin-left: -3px;
  flex: 1;

  &:last-child {
    border: 0;
    [class*="_tournamentBracketMatch_"] {
      &::before,
      &::after {
        border-left: 0;
      }

      &::before {
        border-bottom-left-radius: 0;
      }

      &::after {
        display: none;
      }
    }
  }

  &:first-child {
    [class*="_tournamentBracketMatch_"] {
      &::before,
      &::after {
        display: none;
      }
    }
  }
  @media (min-width: $breakpoint-sm) {
  }
}

.tournamentBracketRoundTitle {
  color: black;
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  margin: 0px;
}

.tournamentBracketList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  padding-bottom: 2em;
  margin-bottom: 2em;
  transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
  counter-reset: bracket-counter;

  @media (max-width: $breakpoint-xs) {
    padding-bottom: 1em;
    margin-bottom: 1em;
  }

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.tournamentBracketContent {
  display: flex;

  &::after {
    content: ":";
    width: 1em;
    text-align: center;
    padding: 0.2em 0.1em;

    @media (min-width: $breakpoint-sm) {
      order: 1;
    }
  }

  & [class*="_tournamentBracketTeam_"]:first-child {
    width: 50%;
    order: 0;
    text-align: right;

    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      align-items: flex-end;
    }

    & [class*="_tournamentBracketCountry_"] {
      order: 2;
      justify-content: flex-end;

      @media (min-width: $breakpoint-xs) {
        order: 0;
      }

      @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        flex-direction: column-reverse;
        align-items: flex-end;
      }
    }

    & [class*="_tournamentBracketScore_"] {
      order: 0;

      @media (min-width: $breakpoint-xs) {
        order: 2;
      }
    }
  }

  & [class*="_tournamentBracketTeam_"]:last-child {
    width: 50%;
    order: 2;
    text-align: left;

    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      align-items: flex-start;
    }

    & [class*="_tournamentBracketCountry_"] {
      @media (min-width: $breakpoint-sm) {
        justify-content: flex-start;
      }

      @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        align-items: flex-start;
      }
    }

    [class*="_tournamentBracketCode_"] {
      order: 1;
    }
  }
}

.tournamentBracketTeam {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  @media (min-width: $breakpoint-xs) {
    flex-direction: column-reverse;
  }

  @media (min-width: $breakpoint-sm) {
    flex-direction: column-reverse;
  }
}
