@use "../../../../../styles/theme" as *;

.container {
  grid-area: tournaments;
  position: relative;
  height: 100%;
  width: 100%;

  ul {
    list-style: none;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 20px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.containerLoading {
  ul {
    height: 92%;
  }
}

.noTournaments {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > div:nth-child(1) {
    position: relative;
    width: 300px;
    height: 300px;
  }

  & > div:nth-child(2) {
    position: relative;
    width: 70%;
  }
}

.fetchMoreLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
  background-color: $background;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}

.noMore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
  background-color: $background;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
  p {
    margin: 0px;
    color: $activeColor;
  }
}

.fetchMoreLoadingProgress {
  width: 20px !important;
  height: 20px !important;
  color: $activeColor !important;
}
