// Default theme colors
$background: #1a1a1d;
$backgroundLight: #8d8d8d;
$textColor: #bdbdbd;
$iconColor: #950740;
$activeColor: #c3073f;
$inactiveColor: #6f2232;
$moneyColor: #118c4f;
$borderRadius: 5px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin themeFont {
  font-family: "MuseoModerno", cursive;
}
