// Default theme colors
$background: #1a1a1d;
$backgroundLight: #4e4e50;
$textColor: #707070;
$iconColor: #950740;
$activeColor: #c3073f;
$inactiveColor: #6f2232;
$moneyColor: #118c4f;
$borderRadius: 10px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin themeFont {
  font-family: "Original Surfer", cursive;
}
