@use "include-media" as *;
@use "./theme" as *;
@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");

// Normalize the html body and next root to fit in to window
html,
body,
#__next {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

// Link should have no decoration
a {
  color: inherit;
  text-decoration: none;
}

// Borer box everthing
* {
  box-sizing: border-box;
  font-family: "Original Surfer", cursive;
}

// Display grid for grid pages
.page-grid {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: $background;
  grid-template-columns: minmax(0, 300px) 1fr;
  grid-template-rows: 60px minmax(0, 1fr) 30px;
  grid-template-areas:
    "navigationtop navigationtop"
    "navigationside maincontent"
    "footer footer";
  footer {
    grid-area: footer;
  }
  @include media(">=phone", "<tablet") {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navigationtop navigationtop"
      "maincontent maincontent"
      "footer footer";
  }
}
