@use "../../../../../styles/theme" as *;
@use "include-media" as *;

.container {
  grid-area: search;
  background-color: $background;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  & > div:nth-child(1) {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 5px;
    @include media("<tablet") {
      width: 60%;
    }
    & > input {
      border-radius: 10px;
      padding: 5px;
      margin-left: 5px;
      border: 1px solid black;
      outline: none;
      @include media("<tablet") {
        width: 100%;
      }
    }
    & > div {
      margin-left: 5px;
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
