@use "../../../../styles/theme" as *;
@use "include-media" as *;

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: $borderRadius;
  width: 100%;
  height: fit-content;
}

.miniContainer {
  position: relative;
  background-color: $background;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  @include media("<tablet") {
    width: 95%;
    margin-bottom: 10px;
    border-radius: $borderRadius;
    box-shadow: -2px 2px 0px 0px white;
  }
}
